<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whkj.project.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.whkj.project.entity.Role">
    <!--@mbg.generated-->
    <!--@Table role-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, remarks, perms
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.whkj.project.entity.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role (role_name, remarks, perms
      )
    values (#{roleName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.whkj.project.entity.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        role_name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="perms != null">
        perms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whkj.project.entity.Role">
    <!--@mbg.generated-->
    update role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        perms = #{perms,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whkj.project.entity.Role">
    <!--@mbg.generated-->
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      perms = #{perms,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findUserRole" resultMap="BaseResultMap">
       SELECT
            role.perms
        FROM
            `user`
            LEFT JOIN user_role_middle AS urm ON urm.user_id = `user`.id
            LEFT JOIN role ON role.id = urm.role_id
        WHERE
            `user`.username =#{primaryPrincipal,jdbcType=VARCHAR}
    </select>
</mapper>